body{
	font-family: serif;
	margin: 0;
	line-height: 1.5;
}

* {
	 box-sizing: border-box;
	 margin: 0;
}

.login-popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1099;
	background-color: rgba(0, 0, 0, 0.6);
	visibility: hidden;
	opacity: 0;
	transition: all 1s ease;
}

.login-popup.show {
	visibility: visible;
	opacity: 1;
}

.login-popup .box {
	background-color: #fff;
	width: 750px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-wrap: wrap;
	opacity: 0;
	margin-top: -80%;
	transition: all 1s ease;
}

.login-popup.show .box {
	opacity: 1;
	margin-top: 0;
}

.login-popup .box .img-area {
	flex: 0 0 50%;
	max-width: 50%;
	position: relative;
	overflow: hidden;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-popup .box .img-area .img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("https://images.unsplash.com/photo-1543782248-03e2c5a93e18?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
	background-size: cover;
	background-position: center;
	animation: zoomInOut 10s linear infinite;
	z-index: -1;
}

.login-popup .box .img-area .img h1 {
	font-size: 30px;
}

@keyframes zoomInOut {
	0%, 100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
}

.login-popup .box .form {
	flex: 0 0 50%;
	max-width: 50%;
	padding: 40px 30px;
}

.login-popup .box .form h1 {
	color: #000;
	font-size: 30px;
	margin: 0 0 30px;
}

.login-popup .box .form .form-control {
	height: 45px;
	margin-bottom: 30px;
	width: 100%;
	border: none;
	border-bottom: 1px solid #cccccc;
	font-size: 15px;
	color: #000;
}

.login-popup .box .form .form-control:focus {
	outline: none;
}

.login-popup .box .form label {
	font-size: 15px;
	color: #555555;
}

.login-popup .box .form .btn {
	width: 100%;
	background-color: #E91E63;
	margin-top: 40px;
	height: 45px;
	border: none;
	border-radius: 25px;
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
}

.login-popup .box .form .btn:focus {
	outline: none;
}

.login-popup .box .form .close {
	position: absolute;
	right: 10px;
	top: 0px;
	font-size: 30px;
	cursor: pointer;
}

/* Responsiveness */
@media (max-width: 767px) {
	.login-popup .box {
		width: calc(100% - 30px);
	}
	.login-popup .box .img-area {
		display: none;
	}
	.login-popup .box .form {
		flex: 0 0 100%;
		max-width: 100%;
	}
}